/* ==========================================================================
   Base
   ========================================================================== */

/* Body
   ========================================================================== */

   html, body {
        &.blocked {
            overflow: hidden;
        }
    }

    html {
        -webkit-overflow-scrolling: touch;
    }

    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }


/* Selection
   ========================================================================== */

    ::selection {
        background: #fff;
        color: #000;
    }
